/* global */

* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: Avenir, Lato, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 1.0rem;
  font-weight: 700;
  text-align: center;
}
a {
  /* color: #96979c; */
  border-bottom:hotpink 0.125em dashed;
}
a:hover {
  font-weight: bold;
  color: rgb(105, 255, 143);
}
/* unvisited link */
a:link {
  color: rgb(47, 0, 255);
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
} 
.typewrite {
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;	   
    color: #813eec;	   
    font-size: 20pt;
}

ul {
  list-style: none;
  margin: 2.0rem 0;
}

li {
  margin: 0.75rem 0;
  padding-left: 2.0rem;
  text-indent: -2.0rem;
}

li:before {
  float: left;
  padding-right: 2.0rem;
}

li.evangelizing:before {
  content: '🔥';
}

li.studied:before {
  content: '👩‍🔬';
}
li.thesis:before {
  content: '🎓';
}


li.lives:before {
  content: '🌁';
}

li.loves:before {
  content: '💕';
}

li.goals:before {
  content: '🏃‍♀️'
}

li.speak:before {
  content: '🗣';
}
li.speak_class::before {
  content: '🎤';
}
li.press:before {
  content: '📰';
}
li.press_class::before {
  content: '🖊️';
}
li.weekly::before {
  content: '📹'
}
li.monthly::before {
  content: '💌'
}

/* hide/toggle talks/press */
.ex {
  display: none;
  line-height: 24px;
}
.ex br {
  display: block;
  content: '';
  height: 15px;
}
.ex.show {
  display: block;
}

/* talks button */
#talks {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
#talks:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
#talks:active {
	position:relative;
	top:1px;
}

/*press button display */
#press {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
#press:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
#press:active {
	position:relative;
	top:1px;
}

/*hide button display */
#surprise {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
#surprise:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
#surprise:active {
	position:relative;
	top:1%;
}

/* dark mode */
body.dark-theme {
  color: #eee;
  background: #121212;
}
body.dark-theme a {
  color: #809fff;
}

/*dark mode button */
.btn-toggle {
  position:sticky;
  /* margin: 0 auto; */
  top: 0.5%;
  left: 0.5%;
  box-shadow: 2% #8a2a21;
  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color:#c62d1f;
  border-radius:5%;
  border:2% solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:16px;
  font-style:italic;
  padding:0.5%;
  margin: 2.5%;
  text-decoration:none;
  text-shadow:4% #810e05;
}
.btn-toggle:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}

/* desktop */

@media only screen and (min-width: 768px) {
  #body {
    margin: 3.0rem auto;
    text-align: left;
    width: 30.0rem;
  }
}

/* mobile */

@media only screen and (max-width: 767px) {
  #body {
    margin: 3.0em 1.0rem;
    text-align: left;
  }
}
