body {
    background-color: #FFFFFF;
}

.p {
    font-family: 'Merriweather', serif;
    font-weight:300;
    font-size: 9pt;
    letter-spacing: 0.2px;
    line-height: 265%;
    max-width: 50ch;
    color: #484848;
} 

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #484848;
    font-size: 20pt;
}

.aboutme  {
    font-family: 'Merriweather', serif;
    font-weight:300;
    font-size: 9pt;
    letter-spacing: 0.2px;
    line-height: 265%;
    max-width: 50ch;
    color: #484848;
} 

.aboutme a:link, a:visited {
   font-family: 'Merriweather', serif;
   font-weight:300;
   font-size: 9pt;
   letter-spacing: 0.2px;
   line-height: 165%;
   max-width: 50ch;
   color: #484848;
   text-decoration: underline; 
}

.icons {
    position:absolute;
    bottom:0px;
    width: 100%;
    margin: 0;
    
    height: 100px;
}

.icons a:link, a:visited {
    color: #484848;
    opacity: 0.6;
    font-size: 15pt;
}

.icons a:hover {
    color: #484848;
    opacity: 1;
    font-size: 15pt;
}

.icons a:visited {
    text-decoration: none;
}

.icons a:active {
    text-decoration: #222222;
}
    
* {
  margin: 0;
  padding: 0;
}

#outer {
    margin: 0 0 0 12%;
    top: 0;
}

.inner {
    padding: 10% 5px 25px 5px;
}
