body {
  background-color: #FFFFFF;
  text-align: center;
  font-family: Avenir, Lato, "Helvetica Neue", Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #4a8ac2;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover {
  color: #333;
}
a:active {
  position: relative;
  top: 1px;
}

/* Header */
header {
  text-align: center;
}
h1 a {
  font-size: 50px;
  font-weight: 500;
}
h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: 1px;
  color: #aaa;
}
section {
  width: 680px;
 text-align: center;
  margin: 0 auto;
}
section p {
  margin: 0 0 1em;
  color: #777;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.typewrite, .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #484848;
    font-size: 20pt;
}
.icons {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #484848;
    font-size: 20pt;
}

.icons a:link, a:visited {
    color: #484848;
    opacity: 0.6;
    font-size: 15pt;
}

.icons a:hover {
    color: #484848;
    opacity: 1;
    font-size: 15pt;
}

.icons a:visited {
    text-decoration: none;
}

.icons a:active {
    text-decoration: #222222;
}
a:hover {
  color:pink;
  font-weight: bold;
  font-size:20px;
}
a:visited {
  color: purple;
}
    
* {
  margin: 0;
  padding: 0;
}

#outer {
  top: 0;
}

.inner {
    padding: 10% 5px 25px 5px;
}
