/* global */

* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: Avenir, Lato, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 1.0rem;
  font-weight: 700;
  text-align: center;
}

a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 2.0rem 0;
}

li {
  margin: 0.75rem 0;
  padding-left: 2.0rem;
  text-indent: -2.0rem;
}

li:before {
  float: left;
  padding-right: 2.0rem;
}

li.evangelizing:before {
  content: '🔥';
}

li.studied:before {
  content: '👩‍🔬';
}
li.thesis:before {
  content: '🎓';
}


li.lives:before {
  content: '🌁';
}

li.loves:before {
  content: '💕';
}

li.speak:before {
  content: '🗣';
}
li.speak_class::before {
  content: '🎤';
}
li.press:before {
  content: '📰';
}
li.press_class::before {
  content: '🖊️';
}

/* desktop */

@media only screen and (min-width: 768px) {
  #body {
    margin: 3.0rem auto;
    text-align: left;
    width: 30.0rem;
  }
}

/* mobile */

@media only screen and (max-width: 767px) {
  #body {
    margin: 3.0em 1.0rem;
    text-align: left;
  }
}
